// light theme
body.light-mode {
  background: $light;
  color: #4a4a4a;
  a, h1, h2, h3, h4, h5, h6 {
    color: $light-color;
  }
  .header {
    background: $light;
    .logo {
      a {  
        background-image: url("../images/logo.png");
      }
    }
    .nav {
      li {
        &:hover {
          a {
            color: $light-primary;
          } 
        }
        .active {
          color: $light-primary;
          &::after {
            background: $light-primary;
          }
        }
      }
    }
    .overlay {
      background: rgba(120, 129, 147, .25);
    }
  }
  .footer {
    .container {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
  .sheet-item {
    .wrapper {
      &:before, &:after {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
// dark theme
body.dark-mode {
  background: $dark;
  color: rgba(255, 255, 255, 0.9);
  a, h1, h2, h3, h4, h5, h6 {
    color: $light;
  }
  .header {
    background: $dark;
    box-shadow: 0px 5px 40px -1px rgba(2, 10, 18, 0.1);
    .logo {
      a {  
        background-image: url("../images/logo-white.png");
      }
    }
    .nav {
      li {
        &:hover {
          a {
            color: $dark-primary;
          } 
        }
        .active {
          color: $dark-primary;
          &::after {
            background: $dark-primary;
          }
        }
      }
    }
    .overlay {
      background: rgba(29, 31, 32, 0.25);
    }
  }
  .footer {
    .container {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
  .player-bar {
    background: rgba(21, 21, 27, 0.95);
    box-shadow: 0px 5px 40px -1px rgba(2, 10, 18, 0.1);
  }
  .sheet-item {
    .wrapper {
      &:before, &:after {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
  .recommend-album {
    .wrapper {
      &:after {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}